<h1>Welcome to ProActiveWFM | Let's get you set up</h1>

<h2>Step 2| ADD EMPLOYEE</h2>

<form method="post" action="/employees">
  <label for="firstname">First Name:</label>
  <input id="firstname" type = "text"
  name="firstname" />

  <label for="surname">Last Name:</label>
  <input id="surname" type = "text"
  name="surname" />

  <label for="email">Email:</label>
  <input id="email" type = "email"
  name="email" />

  <label for="contractedhrs">Weekly ontracted Hours:</label>
  <input id="contractedhrs" type = "number"
  name="contractedhrs" />

  <label for="dateofbirth">Date of Birth:</label>
  <input id="dateofbirth" type = "date"
  name="dateofbirth" />

  <label for="startdate">Date of Joining:</label>
  <input id="startdate" type = "date"
  name="startdate" />

  <input type ="submit" value="Add Employee" />

</form>
