<h2>Welcome to ProActiveWFM | Let's get you set up</h2>

<h3>Step 3| ADD EMPLOYEE</h3>

<p>
  <form method="post" action="/employees">
    <label for="firstname">First Name:</label>
    <input id="firstname" type = "text"
    name="firstname" />
  </p></br>
  <p>
    <label for="surname">Last Name:</label>
    <input id="surname" type = "text"
    name="surname" />
  </p></br>
  <p>
    <label for="email">Email:</label>
    <input id="email" type = "email"
    name="email" />
  </p></br>
  <p>
    <label for="contractedhrs">Weekly ontracted Hours:</label>
    <input id="contractedhrs" type = "number" step="any"
    name="contractedhrs" />
  </p></br>
  <p>
    <label for="dateofbirth">Date of Birth:</label>
    <input id="dateofbirth" type = "date"
    name="dateofbirth" />
  </p></br>
  <p>
    <label for="startdate">Date of Joining:</label>
    <input id="startdate" type = "date"
    name="startdate" />
  </p></br>

  <input type ="submit" value="Add Employee" />

</form>
