<h3>Welcome to ProActiveWFM | Let's get you set up</h3>

<nav>
  <ul>
    <li>
      <a href="/admin">Admin Console</a>
    </li>
    <li>
      <a href="/employees">Schedule Summary</a>
    </li>
    <li>
      <a href="/'employees/:id">Agent Details</a>
    </li>
  </ul>
</nav>
