<h1>Welcome to ProActiveWFM | Let's get you set up</h1>

<h2>Step 1| ADD TEAM</h2>

<form method="post" action="/admin">
  <label for="name">Team Name:</label>
  <input id="name" type = "text"
  name="name" />

  <input type ="submit" value="Add Team" />

  </form>
