<h2>Add Location</h2>

<form method="post" action="/admin">
  <label for="name">Location Name:</label>
  <input id="name" type = "text"
  name="name" />

  <input type ="submit" value="Add Location" />

  </form>
