body {
  background: grey url('/images/main_bgrnd_1.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: black;
  font-family: 'sans-serif', serif;
  padding: 0px;
  margin: 0px;
  font color: auto;
}


h1 {
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 60px; }

h2 {
  font-size: 32px;
  margin-bottom: 10px;
  line-height: 40px;
  color: #aaaaaa; }

h3 {
  font-size: 12px;
  margin-bottom: 20px;
  color: #666666;
  padding: 10px 0;
  border-bottom: solid 1px #dddddd;
  text-transform: uppercase; }





a, a:link, a:visited {
  color: black;
  text-decoration:  underline;
  font-size: 1.5em;
}

a:hover, a:active, a:focus {
  color: #c6e2ff;
}

nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
  color: black
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 25px;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

#content {
  border-left: 1px solid darkred;
  padding-left: 25px;
}




a {
  text-decoration: none;
  cursor: pointer;
  color: #0099ff; }

p {
  padding: 0;
  margin: 0 0 20px 0; }

.textWhite {
  color: #ffffff; }

ul {
  padding: 10px 20px;
  list-style: disc; }
  ul li {
    font-weight: bold; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.noBold {
  font-weight: normal; }

hr {
  background: #ffffff;
  height: 1px;
  border-top: solid 1px #ffffff;
  border-left: none;
  margin-bottom: 20px; }

span.bigGrey {
  font-size: 18px;
  line-height: 36px;
  color: #eeeeee; }

span.bigGreen {
  font-size: 18px;
  line-height: 36px;
  color: #aae1a1; }
