<!DOCTYPE html>
<html>
<head>
  <title>ProActiveWFM - let's do your scheduling!</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">

  <!-- <link rel="icon" href="/images/im_admin.jpg" /> -->
<!--
  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css"> -->
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <!-- <link rel="stylesheet" type="text/css" href="/styles/tables.css"> -->
</head>
<body>
<main class="flex flex--row">
  <nav>
    <ul>
      <li>
        <a href="/admin">Admin Console</a>
      </li>
      <li>
        <a href="/employees">Schedule Summary</a>
      </li>
      <li>
        <a href="/employees/:id">Agent Details</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
